.sliderItemImage {
    text-align: center;
    position: relative;
}

.sliderItemUsers-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px !important;
    background-color: rgba(128, 128, 128, 0.2);
}

.sliderItemUsers--title {
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.sliderItemUsers--text {
    font-size: 10px;
    color: white;
    background: gray;
}

.sliderItemImage img {
    width: 50%;
}

.shopDetail {
    margin-bottom: 5%;
}

.shopDetailList {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin: 5% 0;
}

.shopDetailList li {
    border-bottom: solid 1px;
    opacity: 0.7;
}

.active {
    opacity: 1 !important;
    border-bottom: solid 2px !important;
}

.hashtag li {
    text-align: center;
    color: #4c3a2d;
    padding-bottom: 1em;
}

/* tb<= */
@media screen and (min-width: 550px) {
    .shopDetailText {
        font-size: 16px;
    }

    .sliderItemUsers-container {
        left: 50%;
        transform: translateX(16vw);
    }
}

@media screen and (min-width: 1024px) {
    .sliderItemUsers-container {
        left: 50%;
        transform: translateX(14vw);
    }
}


/* mb */
@media screen and (max-width: 550px) {
    .sliderItemImage img {
        width: 100%;
    }
}