.sliderItemImage{
    text-align: center;
}
.sliderItemImage img{
    width: 50%;
}
.shopDetail{
  margin-bottom: 5%;
}
.shopDetailList{
display: flex;
justify-content: space-around;
text-align: center;
font-size: 100%;
font-weight: bold;
margin: 5% 0;
}
.shopDetailList li{
border-bottom: solid 1px;
opacity: 0.7;
}

.active {
opacity: 1!important;
border-bottom: solid 2px!important;
}

.hashtag li{
text-align: center;
color: #4c3a2d;
padding-bottom: 1em;
}

/* tb<= */
@media screen and (min-width: 768px) {
    .shopDetailText{
        font-size: 18px;
    }
}
/* mb */
@media screen and (max-width: 550px) {
    .sliderItemImage img{
        width: 100%;
    }
}